<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#766161"/>
    <meta name="description" content="website blog restaurant for people who want to visit different restaurant in Indonesia.">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <title>Xkz Re:stau Blog Site</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    
<Header>
    <skip-link></skip-link>
    <app-bar></app-bar>
</Header>

<main></main>

<Footer>
    <copyright-footer></copyright-footer>
</Footer>

</body>
</html>
