/* Jumbotron */
.hero {
    display: flex;
    align-items: center;
    min-height: 380px;
    width: 100%;
    margin-top: 56px;
    padding: 1em;
    text-align: center;
    background-image: url('./images/heros/hero-image_4-large.jpg');
    background-blend-mode:hard-light;
    background-position: center;
    background-size: cover;
    background-color: rgb(97, 97, 97);
}

.hero__inner {
    margin: 0 auto;
    max-width: 800px;
}

.hero__title {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    font-size: 40px;
}

.hero__tagline {
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 16px;
    font-size: 22px;
    font-weight: 500;
}